body{
    font-family: "Lucida Grande", "Tahoma", 'Freight Sans Bold', helvetica, arial, sans-serif;

}

body ul{
  list-style: none;
}

.friend-request-tab{
  position: absolute;
  right: 5px;
  top: 57px;
  background-color: #FFF;
  width: 200px;
  border:4px solid #FFF;
  border-radius: 2px;
}
